# See https://circleci.com/docs/2.0/reusing-config/
version: 2.1

jobs:
  "Test":
    resource_class: small
    docker:
      - image: "cimg/base:2024.09"
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y libgsl-dev
            sudo apt-get install -y autotools-dev
            sudo apt-get install -y gcc g++
      - run:
          name: Test c99sh
          command: |
            COMPILER_NAME=gcc CXX=g++ CC=gcc ./tests

workflows:
  build:
    jobs:
      - "Test"
